/* IMPORTANDO FONTS DO GOOGLE FONTS  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap');

/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
    font-size: 14px;
}

/* INICIO CABECALHO */

.wrapper-header {
    background: #323232;
    height: 100vh;
}

/* MENU */
.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}

.navigation a {
    padding: 4px;
    margin: 4px;
    text-decoration: none;
    color: #fff;
}

.menu-mobile {
    height: 50px;
    width: 50px;
    padding: 6px;
    display: none;
}

.menu-mobile .line {
    height: 4px;
    width: 24px;
    background: #fff;
    margin: 4px;
}

.nav-fixed {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 999;
    background: #292929;
}

/* PROFILE */

.wrapper-header-profile {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 100px;
}

.profile-img {
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

.profile-presentation {
    display: flex;
    flex-direction: column;
}

.wrapper-header-profile h1 {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    color: #292929;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}

.wrapper-header-profile h2 {
    color: #fff;
    font-size: 1.5rem;
}

.wrapper-header-profile h3 {
    color: #fff;
    font-size: 2.5rem;
}

.button-download {
    color: #fff;
    padding: 15px;
    margin: 50px 0 0 0;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 50px;
    text-align: center;
    width: 50%;
    border: 1px solid #fff;
    transition: .5s;
}

.button-download:hover {
    background: #fff;
    color: #292929;
    transition: .5s;
}

/* FIM CABECALHO */

/* INICIO CONTEUDO PRINCIPAL */

/* PADRONIZAÇÃO */
section {
    padding: 10px 0;
    margin: 15px;
    position: relative;
    min-height: 100vh;
}

.section-title {
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #aaa;
    margin-bottom: 70px;
}

.section-subtitle {
    font-weight: 700;
    font-size: 4.5rem;
    color: #ff0000;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 2.6rem;
    text-transform: uppercase;
}

/* SOBRE */
.wrapper-about {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.person-information {
    padding: 10px;
}

.person-information p {
    text-align: justify;
}

.person-information-data {
    display: flex;
    flex-direction: column;
    gap: 14px;
    flex-wrap: wrap;
}

.person-imagem img {
    max-width: 300px;
    max-height: 300px;
}

/* EDUCAÇÃO */
.wrapper-education {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.timeline {
    position: relative;
    padding: 10px 10px 10px 50px;
    max-width: 400px;
    margin-bottom: 10px;
}

.timeline,
.timeline {
    box-sizing: border-box;
}

.timeline::before {
    content: "";
    width: 5px;
    background-color: #de421a;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
}

.timeline-title {
    text-align: center;
    font-weight: 700;
}

div.item-timeline {
    padding: 20px 30px;
    background-color: #292929;
    position: relative;
    border-radius: 6px;
    margin-bottom: 10px;
    min-width: 300px;
}

p.date {
    font-size: 1.1em;
    font-weight: 700;
    color: #fff;
}

p.txt {
    margin: 10px 0 0 0;
    color: #fff;
}

div.item-timeline::after {
    content: "";
    background: #fff;
    border: 4px solid #DE421A;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: -40px;
}

/* HABILIDADES */
.wrapper-skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.wrapper-skills ul {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 200px;
    padding: 6px;
    list-style: none;
}

.wrapper-skills ul h4 {
    font-weight: 700;
    font-size: 2rem;
}

.wrapper-skills ul li {
    font-size: 1.2rem;
}

.wrapper-progress {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    justify-content: center;
}

.wrapper-progress div.progress {
    width: 500px;
}

/* PORTIFOLIO */

.wrapper-portifolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
}

.item-portifolio {
    width: 300px;
    height: 300px;
    margin: 16px 0 0 12px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-portifolio:nth-child(1) {
    background: url(../img/preview/petshop_preview.jpg) center center / cover no-repeat;
}

.item-portifolio:nth-child(2) {
    background: url(../img/preview/cafe_preview.jpg) center center / cover no-repeat;
}

.item-portifolio:nth-child(3) {
    background: url(../img/preview/escola_preview.jpg) center center / cover no-repeat;
}


.item-protifolio__info {
    margin: 8px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.item-protifolio__info a {
    padding: 8px;
    margin: 8px;
    background: #323232;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    width: 50%;
    text-align: center;
    transition: .5s;
}

/* CONTATO */


/* FIM CONTEUDO PRINCIPAL */

/* INICIO RODAPÉ */

.wrapper-footer {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    background: #292929;
    color: #fff;
}

.social {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.social a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4px;
}

.social img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    filter: invert();
}

.copy {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FIM RODAPÉ */


/* RESPONSIVO */
@media screen and (max-width: 700px) {
    .wrapper-header-profile h1 {
        font-size: 3rem;
    }

    .wrapper-header-profile h3 {
        font-size: 2rem;
    }

    .wrapper-about {
        flex-direction: column;
        align-items: center;
    }

    .wrapper-portifolio {
        justify-content: center;
        margin: 0 auto;
    }

    .section-title {
        font-size: 4rem;
    }

    .section-subtitle {
        font-size: 2.4rem;
        top: 24px;
    }

    .nav-bar {
        flex-direction: column;
        align-items: end;
    }

    .menu-mobile {
        z-index: 999;
        display: block;
    }

    .navigation {
        flex-direction: column;
        height: auto;
        position: absolute;
        top: -300px;
        transition: .5s;
        background: #292929;
    }

    .navigation a {
        width: 100%;
        text-align: center;
    }

    .active-navigation {
        top: 40px;
        transition: .5s;
    }
}
